* {
	font: 1em "Fira Sans", sans-serif;
}
header {
	width: 80%;
	margin: 0 auto;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.lincks_block {
}
ul.nav_l {
	white-space: nowrap;
}
li.nav_l {
	display: inline-block;
	margin: 0px 20px;
}
a.nav_l {
	color: black;
	text-decoration: none;
}
div.exit_account {
}
span.exit_account {
	margin-right: 5px;
}
span.current_selection 
{
	color: grey;
}
.underscope {
	background: linear-gradient( to right, lightblue, blue, lightblue );
	width: 20%;
	height: 2px;
	transition: .1s;
	opacity: 0;
}

.add_button {
	cursor: pointer;
	background: blue;
	border: none;
	color: white;
	padding: 5px;
}

.delete_button {
	cursor: pointer;
	background: darkred;
	border: none;
	color: white;
	padding: 5px;	
}

.new_file_button {
	cursor: pointer;
	background: #555;
	border: none;
	color: white;
	padding: 5px;	
}

.submit_button {
	background: url(../img/icon/on.svg);
	background-size: 100%;
	width: 30px;
	height: 30px;
	border: none;
	cursor: pointer;
}

.mid_separator {
	width: 90%;
	border-top: 4px dotted grey;
	margin: 20px auto;
}

.small_separator {
	width: 60%;
	border-top: 2px solid lightgrey;
	margin: 20px 20%;
}
