.back {
    background: url(/img/background/back_index.jpg);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.authorization {
    background: rgba(175, 175, 175, 0.3);
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 453px;
    &__body {
        padding: 50px 50px 100px 50px;
        h1 {
            font-family: Oswald;
            font-style: normal;
            font-weight: 500;
            font-size: 35px;
            line-height: 52px;
        }
        h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 29px;
            margin: 0 0 95px 0;
        }
        .authorization__form {
            display: block;
            background: #F4F4F4;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            h3 {
                transform: translateY(-50%);
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                background: #C93C3C;
                border-radius: 7px;
                width: 164px;
                margin: 0 auto;
            }
            .error {
                display: none;
                background: #FFE2E2;
                border-radius: 5px;
                width: 85%;
                margin: 0 auto;
                padding: 15px 12px;
                .error__text {
                    background: url(/img/icon/Group.png) no-repeat top left;
                    padding-left: 30px;
                    text-align: start;
                    p {
                        color: #000000;
                    }
                    a {
                        color: #1293DC;
                    }
                }
            }
            .authorization__input {
                display: block;
                margin: 5px 0;
                .authorization__input img {
                    vertical-align: middle;
                }
            }
            .autoriz_border_red {
                border-color: red;
            }
        }
        .authorization__footer {
            margin: 22px 0 32px 50px;
            width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000000;
            display: inline-flex;
            align-items: center;
            .check__input {
                appearance: none;
                position: absolute;
            }
            .check__box {
                position: absolute;
                width: 15px;
                height: 15px;
                background: #FFFFFF;
                border: 1px solid #000000;
                box-sizing: border-box;
                border-radius: 2px;
                margin-left: -20px;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .check__input:checked+.check__box {
                background-image: url(/img/icon/on.svg);
                border: none;
            }
        }
        .authorization__btn {
            background: rgba(0, 0, 0, 0.7);
            border-radius: 5px;
            padding: 7px 30px;
            border: none;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
        }
    }
}