.header__body {
    width: 100%;
    padding: 50px 0 10px 0;
    .header__nav {
        max-width: 770px;
        margin-left: auto;
        display: flex;
        .header__list {
            .header__item {
                margin: 0 20px 0 0;
                display: inline-block;
                .header__link {
                    transition: all 0.5s ease 0.2s;
                }
            }
            .active {
                color: rgba(0, 0, 0, 0.5);
            }
            hr {
                height: 2px;
                margin: 0;
                width: 0;
                background: linear-gradient(90.38deg, #0D06DB 0%, #3984FF 100%);
                border: none;
                transition: .3s ease-in-out;
            }
        }
        .exit {
            padding: 0 10px 0 0;
            margin-left: auto;
            background-image: url("/img/icon/exitAccount.png");
            background-position: right;
            background-repeat: no-repeat;
            background-size: 10px;
            .exit__btn {
                background-color: #fff;
                border: none;
            }
        }
    }
}