.reg {
    display: flex;
    justify-content: space-around;
    padding: 90px 0 0 0;
    .reg__form {
        width: 280px;
        .reg__title {
            margin: 0 0 30px 0;
        }
        .input {
            margin: 0 0 10px 0;
        }
        .reg__btn {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #FFFFFF;
            background: #AD0404;
            border-radius: 5px;
            padding: 7px 68px;
            border: none;
        }
        .reg__btn:hover {
            background: rgba(173, 4, 4, 0.7);
        }
        .reg__btn:active {
            transform: translateY(5px);
        }
        .reg__btn:disabled {
            background: rgba(104, 6, 6, 0.7);
        }
    }
}