@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
.back {
  background: url(../img/background/back_index.jpg);
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.authorization {
  background: rgba(175, 175, 175, 0.3);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  width: 453px;
}
.authorization__body {
  padding: 50px 50px 100px 50px;
}
.authorization__body h1 {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 52px;
}
.authorization__body h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  margin: 0 0 95px 0;
}
.authorization__body .authorization__form {
  display: block;
  background: #F4F4F4;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.authorization__body .authorization__form h3 {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  background: #C93C3C;
  border-radius: 7px;
  width: 164px;
  margin: 0 auto;
}
.authorization__body .authorization__form .error {
  display: none;
  background: #FFE2E2;
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  padding: 15px 12px;
}
.authorization__body .authorization__form .error .error__text {
  background: url(../img/icon/Group.png) no-repeat top left;
  padding-left: 30px;
  text-align: start;
}
.authorization__body .authorization__form .error .error__text p {
  color: #000000;
}
.authorization__body .authorization__form .error .error__text a {
  color: #1293DC;
}
.authorization__body .authorization__form .authorization__input {
  display: block;
  margin: 5px 0;
}
.authorization__body .authorization__form .authorization__input .authorization__input img {
  vertical-align: middle;
}
.authorization__body .authorization__form .autoriz_border_red {
  border-color: red;
}
.authorization__body .authorization__footer {
  margin: 22px 0 32px 50px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  align-items: center;
}
.authorization__body .authorization__footer .check__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.authorization__body .authorization__footer .check__box {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  margin-left: -20px;
  background-repeat: no-repeat;
  background-size: cover;
}
.authorization__body .authorization__footer .check__input:checked + .check__box {
  background-image: url(../img/icon/on.svg);
  border: none;
}
.authorization__body .authorization__btn {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 7px 30px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

.reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 90px 0 0 0;
}
.reg .reg__form {
  width: 280px;
}
.reg .reg__form .reg__title {
  margin: 0 0 30px 0;
}
.reg .reg__form .input {
  margin: 0 0 10px 0;
}
.reg .reg__form .reg__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #AD0404;
  border-radius: 5px;
  padding: 7px 68px;
  border: none;
}
.reg .reg__form .reg__btn:hover {
  background: rgba(173, 4, 4, 0.7);
}
.reg .reg__form .reg__btn:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.reg .reg__form .reg__btn:disabled {
  background: rgba(104, 6, 6, 0.7);
}

.header__body {
  width: 100%;
  padding: 50px 0 10px 0;
}
.header__body .header__nav {
  max-width: 770px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__body .header__nav .header__list .header__item {
  margin: 0 20px 0 0;
  display: inline-block;
}
.header__body .header__nav .header__list .header__item .header__link {
  -webkit-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}
.header__body .header__nav .header__list .active {
  color: rgba(0, 0, 0, 0.5);
}
.header__body .header__nav .header__list hr {
  height: 2px;
  margin: 0;
  width: 0;
  background: linear-gradient(90.38deg, #0D06DB 0%, #3984FF 100%);
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.header__body .header__nav .exit {
  padding: 0 10px 0 0;
  margin-left: auto;
  background-image: url("../img/icon/exitAccount.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 10px;
}
.header__body .header__nav .exit .exit__btn {
  background-color: #fff;
  border: none;
}

.main__nav a {
  display: block;
}

.main__content {
  width: 100%;
  text-align: center;
}
.main__content .addAdditionalDates {
  width: 600px;
  margin: 15px 0 0 0;
  border-top: 1px solid #000000;
}
.main__content .addAdditionalDates img {
  display: block;
  margin: 0 auto;
}
.main__content h2 {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 0 30px 0;
}
.main__content .information__announcement .main__introductionAnnouncement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__content .information__announcement .main__introductionAnnouncement .introductionRu p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #394BE5;
}
.main__content .information__announcement .main__introductionAnnouncement .introductionEn p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F54E4E;
}
.main__content .information__announcement .main__introductionAnnouncement textarea {
  border: 1px solid rgba(0, 0, 0, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 285px;
  margin: 10px 0 0 0;
}
.main__content .editor__list {
  margin: 0 auto;
  width: 480px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.main__content .editor__list .edit {
  width: 100%;
  height: 210px;
}
.main__content .editor__list .ru {
  color: #394BE5;
}
.main__content .editor__list .en {
  color: #F54E4E;
}
.main__content .editor__list h4 {
  margin: 30px 0 10px 0;
}
.main__content .KeysDate {
  width: 100%;
}
.main__content .KeysDate .dateConf {
  width: 500px;
  margin: 0 auto;
}
.main__content .KeysDate .dateConf .beetwenDate {
  width: 300px;
  margin: 30px auto 25px;
}
.main__content .KeysDate .dateConf h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 0 0 10px 0;
}
.main__content .KeysDate .dateConf p {
  width: 100%;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #505050;
  background-image: url("../img/icon/warning.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 17px;
  padding: 0 0 0 20px;
}
.main__content .KeysDate .additionalDates {
  width: 600px;
  margin: 0 auto;
}
.main__content .KeysDate .additionalDates .additionalDate {
  width: 290px;
  margin: 0 auto 10px;
}
.main__content .KeysDate .additionalDates .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.main__content .KeysDate .additionalDates h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 35px 0 10px 0;
}
.main__content .programs {
  padding: 62px 0 0 0;
  width: 600px;
  margin: 0 auto;
}
.main__content .programs h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 0 10px 0;
}
.main__content .programs .program {
  width: 600px;
  margin: 0 auto;
}
.main__content .main__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #168628;
  border-radius: 5px;
  padding: 7px 8px;
  border: none;
}

.konfList {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.konfList h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  /* H1 */
  color: rgba(0, 0, 0, 0.8);
  padding: 60px 0 40px 0;
}
.konfList .konf {
  padding: 15px 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 7px;
}
.konfList .konf .konf__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.konfList .konf .konf__footer {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 15px 0 0 0;
}
.konfList .konf .konf__footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.konfList .konf .konf__footer .konf__lang {
  padding: 10px 0 15px 0;
}
.konfList .konf .konf__footer .konf__lang .konf__ru {
  color: #394BE6;
  margin-right: 10px;
}
.konfList .konf .konf__footer .konf__lang .konf__en {
  color: #F54E4E;
}
.konfList .konf .konf__footer .konf__editing {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.konfList .konf .konf__footer .konf__delet {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #AD0404;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
body a {
  text-decoration: none;
  color: #000000;
}

h1 {
  text-align: center;
}

.input {
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
  width: 275px;
  height: 40px;
}

.input:focus {
  outline: none;
  border-color: blue;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}
.container .main__body {
  padding: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}